@import "_variables";


body{
    background-color: $fondo;
}

header{
    div{
        background-color: $fondo !important;
    }
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
  
    
}

li{
    display: inline;
}
H1{
    display: flex;
    text-justify:center;
    text-decoration: underline;
    text-transform: capitalize;
    justify-content: center;
    justify-items: center;    
}

.row{
    background-color:$fondo !important;
    div{
        border: solid 2px $colornegro;
        H1{
            text-decoration: underline;
        }
    }
}

#img {
    max-width: 100%;
    height: 100%;
    transition: all 3s ease-in-out;
    &:hover{
        filter: grayscale(100%);
    }
}

footer{
    display: flex;
    justify-content: center;
    background-color: $fondo;
    
}
ion-icon {
    font-size: 50px;

  }
  

  