.caja, #cuadrotexto, h2, h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

body {
  background-image: url("../multimedia/fondo1.jpg");
  font-size: 100%;
}

header div {
  background-image: url("../multimedia/fondo1.jpg");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
}

li {
  display: inline;
}

h1 {
  display: flex;
  text-justify: center;
  justify-content: center;
  justify-items: center;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

.deepshadow {
  color: #e0dfdc;
  background-color: #333;
  letter-spacing: .1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.row {
  background-color: black !important;
}

.row div {
  border: solid 2px black;
}

.row div H1 {
  text-decoration: underline;
}

#img {
  max-width: 100%;
  height: 100%;
  transition: all 3s ease-in-out;
}

#img:hover {
  filter: grayscale(100%);
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
}

ion-icon {
  font-size: 50px;
}

@media screen and (min-width: 320px) {
  #menu1 {
    display: none;
  }
  h1 {
    font-size: 25px;
  }
}

@media screen and (min-width: 720px) {
  #menu2 {
    display: none;
  }
  h1 {
    font-size: 92px;
  }
}

@media screen and (min-width: 1200px) {
  #menu1 {
    display: flex;
  }
}

#cuadrotexto {
  font-weight: bold;
  color: red;
  background-color: #333;
}

h2 {
  text-decoration: underline;
  color: red;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #121212;
}

h3 {
  text-decoration: underline;
  color: red;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background-color: #242424;
}
fieldset{
  text-decoration-color: red;
  font-family: 'Times New Roman', Times, serif;
  background-color: #2a2a2a;
  color: red;
  border-radius: 2px;

}